.bgContentWrap{
    border-radius: 30px;
    background: linear-gradient(107deg, #2B2B2D 0%, #777 100%);
    &.flexboxWrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .flexImageBox{
        padding: 20px;
       width: 50%;
    
       img{
        width: 100%;
       }
    }
    .flexContentWrap{
        &.spacingRight{
            width: 42%;
            padding-right: 20px;
        }
        &.spacingLeft{
            width: 42%;
            padding-left: 20px;
        }
       
        h4{
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 100;
            line-height: 100%; 
            font-family: 'sequel_sans_roman_disp' !important;
        }
        h3{
            color: #FFF;
            font-size: 40px;
            font-style: normal;
            font-weight: 100;
            line-height: normal;
            font-family: 'sequel_sans' !important;
        }
        h2{
            color: #FFF;
            font-size: 56px;
            font-style: normal;
            font-weight: 100;
            line-height: 48px;
            margin-bottom: 40px;
            margin-top: 12px;
            font-family: 'sequel_sans_semi_bold_disp' !important;
            white-space: nowrap;
        }
        a{
            color: #FFF;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 100;
            line-height: 24px;
            height: 44px;
            padding: 10px 18px;
            border-radius: 44px;
            border: 1px solid #FFF;
            text-decoration: none;
            margin-top: 40px;
            display: inline-block;
        }
        p{
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 100;
            line-height: 140%;
        }
    }
    
}

.sectionTopSpace{
    margin-top: 32px;
}



@media screen and (max-width: 767px) {
    .bgContentWrap{
        &.flexboxWrap{
            display: flex;
           padding: 38px 23px;
           text-align: center;
           flex-direction: column-reverse;
        }
        .flexImageBox{
            width: 100%;
           img{
            width: 100%;
            &.last{
                margin-left: -108px;
            }
           }
        }
        .flexContentWrap{
            &.spacingRight{
                width: 100%;
                padding-right: 0;
                margin-top: 35px;
                @media screen and (max-width: 767px) {
                    margin-top: 0;
                }
            }
            &.spacingLeft{
                width: 100%;
                padding-right: 0;
                padding-left: 0px;
            }
           
           
            h4{
                color: #FFF;
                font-size: 24px;
                font-style: normal;
                font-weight: 410;
                line-height: 100%; 
            }
            h3{
                color: #FFF;
                font-size: 40px;
                font-style: normal;
                font-weight: 415;
                line-height: normal;
            }
            h2{
                font-size: 31px;
                line-height: 39px;
                margin-bottom: 16px;
            }
            a{
                color: #FFF;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                height: 44px;
                padding: 10px 18px;
                border-radius: 44px;
                border: 1px solid #FFF;
                text-decoration: none;
                margin-top: 30px;
                display: inline-block;
            }
            p{
                color: #FFF;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: 140%;
            }
        }
        
    }


}