.aglie-pipeline-management-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
}
@media screen and (max-width: 992px) and (min-width: 768px){
    .aglie-pipeline-management-wrapper {
        display: block;
        margin-top: 0px;
    }
    .aglie-pipeline-management-wrapper img {
        width: 100%;
    }
}

@media screen and (max-width: 1180px) and (min-width: 1024px){
    .aglie-pipeline-management-wrapper {
        margin-top: 0px;
    }
    .aglie-pipeline-management-wrapper {
        gap: 50px;
    }
}