.kb-main-section {
    position: relative;
    /* padding-top: 364px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.latest-update-head {
    -webkit-text-fill-color: #0000;
    background: linear-gradient(90deg,#1ab2ff 33.15%,#ffb258 62%);
    -webkit-background-clip: text;
    color: #000;
    font-family: sequel_sans_roman_head!important;
    font-size: 120px;
    font-style: normal;
    font-weight: 425;
    letter-spacing: 1px;
    line-height: 114px;
    text-align: center;
}
.kb-main-section .kb-main-heading {
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "sequel_sans_bold_disp";
    font-size: 220px;
    font-style: normal;
    font-weight: 100;
    line-height: 164px;
    letter-spacing: 1px;
    padding-top: 192.2px;
    padding-bottom: 142px;
}

.kb-main-section .kb-main-heading {
    background: linear-gradient(to right, #1ab2ff 10.15%, #ffb258 69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.kb-main-section .kb-main-image {
    position: absolute;
    top: -95px;
    left: 50%;
    transform: translateX(-80%);
}
.headerPadding{
    padding-bottom: 10px;
  }


@media screen and (max-width: 767px) {
    .kb-main-section .kb-main-heading {
        font-size:32px;
        line-height: 40px;
    }
    .KnowledgeBaseMain img {
        width: 347.37px;
    }
    .kb-main-heading br {
        display: none;
    }
    .kb-main-section {
        padding: 0 15px;
      }
}
@media screen and (max-width: 992px) and (min-width: 768px){
    .kb-main-section .kb-main-heading {
        font-size: 140px;
        line-height: 146px;
        padding-bottom: 50px;
    }
    .kb-main-section .kb-main-image {
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1180px) and (min-width: 1024px){
    .kb-main-section .kb-main-heading {
        font-size: 170px;
        line-height: 176px;
        padding-bottom: 50px;
    }
    .kb-main-section .kb-main-image {
        transform: translateX(-74%);
    }
}



.memate-brand-right .subHead{
        color: #29292b;
        font-family: "sequel_sans_bold_disp" !important;
        font-size: 42px;
        font-style: normal;
        margin-bottom: 12px;
        font-weight: 100;
        line-height: normal;
    
}
.memate-brand-right h1{
    color: #29292b;
    font-family: "sequel_sans_light_disp" ;
    font-size: 29px;
    font-style: normal;
    margin-bottom: 12px;
    font-weight: 100;
    line-height: normal;
    /* margin-top: -53px; */
    padding: 0;
}

.memate-brand-right p{
    color: #888E9E;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 140%; 
    letter-spacing: -0.2px;
    font-family: 'sequel_sans_roman_head' !important;
}
.memate-brand-right .logBrand {
    margin: 94px 0;
    display: flex;
    flex-wrap: wrap;
}
.memate-brand-right li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50% 1;
    padding: 23px 0;
}
.memate-brand-right li.brandLogo02 {
    background: #000;
}
.memate-brand-right li.brandLogo02 img {
   filter: contrast(0) brightness(2);
}
.memate-brand-right li.brandLogo03,.memate-brand-right li.brandLogo04 {
    background: #ffb258;
    background: linear-gradient(339deg,#ffb258 22%,#1ab2ff 89%);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.memate-brand-right li.brandLogo03 img,.memate-brand-right li.brandLogo04 img {
   filter: contrast(0) brightness(2);
}

.memate-brand-right .logBrand h4 {
    color: #29292B;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-family: 'sequel_sans' !important;
}
.logBrandHori ul {
    display: flex;
    align-items: center;
}
.logBrandHori h4 {
    color: #29292B;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-bottom: 27px;
    display: inline-block;
    font-family: 'sequel_sans' !important;
}
.logBrandHori ul li {
    /* padding: 126px 25px; */
    flex: 25% 1;
    background: #000;
    display: block;
}
.logBrandHori ul li.brandLogo01 {
    /* padding: 126px 25px; */
    display: flex;
    background: #fff;
    gap: 4%;
    width: 107%;
}
.containerBoxM{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.memate-brand-right .doesandDont {
    margin: 94px 0 0;
}
.memate-brand-right .doesandDont .listing {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
    width: 95%;
}
.memate-brand-right .doesandDontt {
    margin: 31px 0 0 !important;
}

.memate-brand-right .doesandDont h4 {
    color: #29292B;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-bottom: 20px;
    font-family: 'sequel_sans' !important;
}
h2#section-9-child-96,h2#section-9-child-97 {
    margin: 53px 0 0;
}
.memate-brand-right .doesandDont .listing li {
    justify-content: flex-start;
    padding: 11px 0;
    color: #29292B;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: 140%;
    font-family: 'sequel_sans_roman_head' !important;
}
.fonts-sec {
    padding: 26px 0;
}
.memate-brand-right .doesandDont .listing li img {
    margin-right: 7px;
}
.memate-brand-right .doesandDont .listing strong {
    color: #29292B;
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-family: 'sequel_sans_semi_bold_disp' !important;
}
.memate-brand-right .brandSec {
    margin: 54px 0;
}
.memate-brand-right .brandSec ol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    row-gap: 32px;
}
.memate-brand-right .brandSec li {
    width: 100%;
    border-radius: 30px;
    background: #F7F8FA;
    padding: 32px;
}
.memate-brand-right .brandSec li .in h6 {
    color: #29292B;
    text-align: left;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: 48px;
    font-family: 'sequel_sans_semi_bold_disp' !important;
}
.memate-brand-right .brandSec li .in p {
    color: #29292B;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: 150%; 
    letter-spacing: -0.5px;
    font-family: 'sequel_sans_roman_head' !important;
}
.memate-brand-right .brandSec li:hover .in p,.memate-brand-right .brandSec li:hover .in h6 {
    color: #fff;
    
}
.memate-brand-right .brandSec li:hover {
    background: linear-gradient(339deg, rgb(255, 178, 88) 22%, rgb(26, 178, 255) 89%) 50% center / contain no-repeat;
    background-position: 50% center;

}
.memate-brand {
    line-height: 107px;
}
.kb-left-wrapper1.kb-tos-wrapper1 {
    border-radius: 12px;
    border: 1.444px solid #E9EBF0;
    background: #FFF;
    display: flex;
    padding: 23px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    /* max-height: 568px; */
}
.brand-module_mainHeadinstyle__LxenE .latest-update-text {
    line-height: 93px;
}
.kb-left-wrapper1.kb-tos-wrapper1 li.kb-list-item1 {
    display: flex;
    padding: 14px 12px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 12px;
}
h2.latest-update-text.latest-brandMain.latest-update-head.memate-brand.headerPadding {
    line-height: 175px;
}
.kb-left-wrapper1.kb-tos-wrapper1 li.kb-list-item1 a {
    color: #29292B;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 150%;
}
.kb-left-wrapper1.kb-tos-wrapper1 .kb-list-item-active1 {
        width: 100%;
        background: linear-gradient(339deg, rgb(255, 178, 88) 22%, rgb(26, 178, 255) 89%) 50% center / contain no-repeat;
        background-position: 50% center;
        border-radius: 30px;
        padding: 62px 46px 69.5px 45px;
    
}
/* .kb-left-wrapper1.kb-tos-wrapper1 .kb-list-item-active1 .wrapBoxBrandFlex .list {
    width: 100%;
    background: linear-gradient(339deg, rgb(255, 178, 88) 22%, rgb(26, 178, 255) 89%) 50% center / contain no-repeat;
    background-position: 50% center;
    border-radius: 30px;
    padding: 24px 20px 24px 20px;
} */
body.brand-information .sticky-section-switch {
    display: none;
}

@media screen and (max-width: 767px) {
    .logBrandHori ul {
        display: block;
    }
    .kb-left-wrapper1 {
        position: initial;
    }
    .logBrandHori ul li.brandLogo01 {
        display: block;
        width: 100%;
    }
    #brandLogoNewSecion {
        display: block;
    }
    .brand-module_mainHeadinstyle__LxenE .latest-update-text {
        line-height: 54px;
        font-size: 65px;
    }
    .kb-left-wrapper1 {
        margin: 58px 0;
    }
    .memate-brand-right .brandSec ol {
        display: block;
    }
    .memate-brand-right .brandSec li {
        margin-bottom: 20px;
    }
    .memate-brand-right .logBrand {
        margin: 40px 0;
    }
    .memate-brand-right h1#section-2 {
        margin-top: 0;
        padding: 0;
    }
    .memate-brand-right .subHead {
        font-size: 20px;
    }
    .memate-brand-right h1#section-2,.memate-brand-right .logBrand h4 ,.logBrandHori h4{
        font-size: 21px;
    }
    .memate-brand-right .doesandDont {
        margin: 41px 0;
    }
}