.mainHeadinstyle{
    margin-bottom: 101px;
   h5 {
        font-family: sequel_sans_roman_head!important;
        line-height: normal;
        font-style: normal;
        color: #29292b;
        font-size: 42px;
        font-style: normal;
        font-weight: 420;
        line-height: normal;
        letter-spacing: -1px;
        font-family: sequel_sans_roman_head!important;
    }
 
}

.privacyWrapper{
    .privacysubHeading{
    color: #3F3F3F;
    leading-trim: both;
    text-edge: cap;
    font-family: "Sequel Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 370;
    line-height: 150%; 
}
}
@media screen and (max-width: 767px) {
.mainHeadinstyle{
    padding: 0 15px !important;
    margin-bottom: 15px !important;
}
.kb-section-heading {
    margin-top: 0;
    padding-top: 0;
}
.kb-tos-wrapper {
    max-height: 420px;
    margin-bottom: 49px;
}
.mainHeadinstyle h1 {
    font-size: 42px !important;
     line-height: 56px !important;
}
}