
@media only screen and (min-width: 600px) and (max-width: 1024px) {

}


@keyframes infiniteRotate {
    0% {
      transform: rotateZ(0deg);
    }
  
    100% {
      transform: rotateZ(360deg);
    }
  }
  
  @keyframes drawStroke {
    0% {
      stroke-dasharray: 0, 284.533;
      stroke-dashoffset: 284.533;
    }
  
    100% {
      stroke-dasharray: 284.533, 0;
      stroke-dashoffset: 0;
    }
  }
  .plan-header .request-btn a {
    position: relative;
    margin: 0 auto;
  }
  
  /* Main Button Styles */
  /* .nav-btn--get-started {
      display: inline-block;
      position: relative;
      text-decoration: none;
      overflow: hidden;
      border: 2px solid transparent;
      border-radius: 30px;
      transition: border 0.3s ease-in-out;
  } */
  .navbar-log-in1 .nav-btn--get-started {
    position: relative;
  }
  
  .tron-hover-rotate1.small1 {
    background: linear-gradient(to right, #1ab2ff 33.15%, #ffb258 62%);
    width: 20rem;
    height: 20rem;
    inset: auto;
  }
  
  .request-btn a {
    position: relative;
  }
  .request-btnApp a {
    width: 191px !important;
    margin: 0 auto !important;
    display: block !important;
  }
  
  /* .nav-btn--get-started:hover {
      border-image: linear-gradient(45deg, #EB88B1, #B965E4, #61A6F9) 1;
    } */
  
  /* Rotating Background Element */
  /* .tron-hover-rotate1 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200px;
      height: 200px;
      background-image: linear-gradient(to bottom, #ffc940, #ff7bad 50%, #569cff);
      opacity: 0;
      transform: translate(-50%, -50%);
      animation: infiniteRotate 4s linear infinite;
      transform-style: preserve-3d;
      transition: opacity 0.3s ease-in-out;
    }
     */
  
  .tron-hover-rotate1 {
  
    width: 15rem;
    height: 15rem;
    position: absolute;
    inset: auto;
    background-image: linear-gradient(to right, #1ab2ff 33.15%, #ffb258 62%);
  }
  
  .tron-hover-rotate1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to right, #1ab2ff 33.15%, #ffb258 62%);
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: infiniteRotate 4s linear infinite;
    transform-style: preserve-3d;
    transition: opacity 0.3s ease-in-out;
  }
  
  .request-btn .btn-base--tron-hover1 {
    width: 12rem;
  }
  
  .nav-btn--get-started:hover .tron-hover-rotate1 {
    opacity: 1;
  }
  
  /* .request-btn .btn-base--tron-radial {
    width: 3.8125rem;
    height: 40px;
    inset: -1px 0% 0 116px;
  } */
  
  /* .request-btn-transpaent .btn-base--black1 {
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 60px;
    border: 1px solid var(--Gray-900, #fff);
    outline: none;
    background: transparent;
    color: #fff;
    text-align: center;
    -webkit-text-stroke-color: #101828;
    font-size: 18px;
    font-style: normal;
    font-weight: 415;
    line-height: normal;
    font-family: sequel_sans_roman_head!important;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .request-btn-transpaent .btn-base--black1 {
    background: transparent;
    border: 1px solid #fff;
  }
  .request-btn-center {
    display: flex;
    justify-content: center;
  }
  .request-btn-bg {
    justify-content: flex-start;
    display: flex;
  }
  .request-btn-transpaent:hover .btn-base--black1 {
    background: #353535;
    border: 1px solid #353535;
  }
  /* SVG Container and Stroke Animation */
  .radial-embed-nav1 svg {
    width: 300px;
    height: 300px;
    display: block;
    margin: 40px auto;
    /* height: auto; */
  }
  
  .tron-icon_nav1 {
    /* fill: none; */
    stroke: url(#linear-gradient-tronnav);
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: black;
    stroke-width: 2px;
    stroke-dasharray: 284.533, 284.533;
    stroke-dashoffset: 284.533;
    transition: opacity 0.3s ease-in-out;
  }
  
  
  .nav-btn--get-started:hover .tron-icon_nav1 {
    animation: drawStroke 2s ease infinite;
  }
  
  .nav-btn--get-started:hover .radial-embed-nav1 svg {
    margin: -2px 0;
  }
  
  .nav-btn--get-started .tron-icon_nav1 {
    animation: drawStroke 2s ease infinite;
  }
  
  .nav-btn--get-started:hover .text-btn--nav1 {
    color: #fff;
    opacity: .9;
  
  }
  
  .radial-embed-nav1 {
    border-radius: 48px;
    flex: none;
    position: absolute;
    inset: 0%;
    overflow: hidden;
  }
  
  .radial-embed-nav1 svg {
    width: 100%;
    height: auto;
    margin: -1px 0;
    position: relative;
    z-index: -9;
  }
  
  
  
  
  /* Text and Button Background */
  .btn-base--black1 {
    z-index: 10;
    background-color: #1d1d1f;
    color: #fff;
    border-radius: 2rem;
    flex: none;
    align-items: stretch;
    width: 6.5625rem;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 6px;
    display: block;
    position: static;
    inset: auto 0%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .request-btn .btn-base--black1 {
    width: 11.5625rem;
    height: auto;
  }
  
  .text-btn--nav1 {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 415;
    line-height: normal;
    font-family: 'sequel_sans' !important;
  }

  .btn-base--tron-radial1 {
    width: 127.5%;
    height: 5.75rem;
    display: block;
    position: absolute;
    inset: -5px 0% 0% -24px;
    /* animation: fadeInOut 4s linear infinite; */
    opacity: 0;
    border-radius: 48px;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    /* inset: -3.3px 0% -8px -3.5px; */
    animation: fadeInOut 10s linear infinite;

}
  .btn-base--tron-hover1 {
    z-index: auto;
    border-radius: 48px;
    justify-content: center;
    align-items: center;
    width: 6.8125rem;
    height: 2.75rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    inset: -2px 0% 0% -2px;
    overflow: hidden;
  }
  
  
  /* 
  .nav-btn--get-started {
      perspective: 2000px;
      white-space: nowrap;
      background-color: #0000;
      border-radius: 48px;
      flex-direction: column;
      flex: none;
      justify-content: center;
      align-self: stretch;
      align-items: center;
      width: auto;
      height: auto;
      padding: 0;
      overflow: visible;
  } */
  
  /* .nav-btn--get-started:hover {
      background-color: #272729;
      text-decoration: none
  } */
  
  
  
  
  .btn-base--black1:hover {
    background-color: #353535;
  }
  
  .btn-base--tron-hover1 {
    z-index: auto;
    border-radius: 48px;
    justify-content: center;
    align-items: center;
    width: 6.8125rem;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    inset: -3px 0% 0% -3px;
    overflow: hidden;
}
  
  @keyframes fadeInOut {
    0%, 50% {
      opacity: 1; 
    }
    50.1%, 100% {
      opacity: 0; 
    }
  }
  .nav-btn--get-started:hover .tron-icon_nav {
    animation: none;
  }


  /* White Button  */

  .tron-icon_nav2 {
    /* fill: none; */
    stroke: url(#linear-gradient-tronnav);
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: transparent;
    stroke-width: 2px;
    stroke-dasharray: 284.533, 284.533;
    stroke-dashoffset: 284.533;
    transition: opacity 0.3s ease-in-out;
  }

  .btn-base--black2 {
    z-index: 10;
    background-color: white;
    color: #fff;
    border-radius: 2rem;
    flex: none;
    align-items: stretch;
    width: 100%;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 6px;
    display: block;
    position: static;
    inset: auto 0%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
  }

  .nav-btn--get-started:hover .text-btn--nav2 {
    color: black;
    opacity: 1;
  
  }

    
  .text-btn--nav2 {
    color: black;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-family: 'sequel_sans' !important;
  }

  .btn-base--tron-hover2 {
    z-index: auto;
    border-radius: 48px;
    justify-content: center;
    align-items: center;
    width: 6.8125rem;
    height: 56px;
    width: 102% !important;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    inset: -2px 0% 0% -1.5px;
    overflow: hidden;
}
/* .btn-base--black2:hover{
    border: linear-gradient(to right, #1ab2ff 33.15%, #ffb258 62%) !important;
} */

/* Button 3 */

.btn-base--black3{
    z-index: 10;
    background-color: white;
    color: #fff;
    border-radius: 2rem;
    flex: none;
    align-items: stretch;
    /* width: 185% !important; */
    height: 52px;
    margin-left: auto;
    margin-right: 0;
    padding: 14px 44px;
    display: block;
    position: static;
    inset: auto 0%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    /* width: 182%; */
}

/* BUTTON 4 */

.btn-base--black4{
    z-index: 10;
    background-color: transparent;
    color: #fff;
    border-radius: 2rem;
    flex: none;
    align-items: stretch;
    /* width: 185% !important; */
    height: 52px;
    margin-left: auto;
    margin-right: 0;
    padding: 14px 44px;
    display: block;
    position: static;
    inset: auto 0%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    margin-top: 11px;
    /* width: 182%; */
}

    
.text-btn--nav3 {
    color: white;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-family: 'sequel_sans' !important;
  }

  
  /* Button 4 */
.btn-base--black5{
    z-index: 10;
    background-color: #f7f8fa;
    color: #fff;
    border-radius: 2rem;
    flex: none;
    align-items: stretch;
    width: 100% !important;
    height: 52px;
    margin-left: auto;
    margin-right: 0;
    padding: 14px 44px;
    display: block;
    position: static;
    inset: auto 0%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-top: 11px;
    /* width: 182%; */
}

    
.text-btn--nav4 {
    color: black;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    font-family: 'sequel_sans' !important;
    /* border: 1px solid black; */
    white-space: nowrap;
  }
  
  .btn-base--tron-hover5 {
    z-index: auto;
    border-radius: 48px;
    justify-content: center;
    align-items: center;
    width: 6.8125rem;
    height: 56px;
    width: 102% !important;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    inset: 9px 0% 0% -2.5px;
    overflow: hidden;
}

.btn-base--blackAddSupplier {
  z-index: 10;
  background-color: #1d1d1f;
  color: #fff;
  border-radius: 2rem;
  flex: none;
  align-items: stretch;
  width: 6.5625rem;
  height: 52px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 6px;
  display: block;
  position: static;
  inset: auto 0%;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.request-btn .btn-base--blackAddSupplier {
  width: 14.5625rem;
  height: 52px;
}

.HoverAdjust{
  z-index: auto;
  border-radius: 48px;
  justify-content: center;
  align-items: center;
  width: 6.8125rem;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  inset: -2px 0% 0% -2.5px;
  overflow: hidden;
}

.request-btn .btn-base--tron-hoverAdjusted {
  width: 14.9rem;
}

.btn-base--tron-radialAdjusted {
  width: 127.5%;
  height: 5.75rem;
  display: block;
  position: absolute;
  inset: -5px 0% 0% -24px;
  /* animation: fadeInOut 4s linear infinite; */
  opacity: 0;
  border-radius: 48px;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  /* inset: -3.3px 0% -8px -3.5px; */
  animation: none;
}
.dflexbannerbtn .btn-base--black2 {
    z-index: 10;
    background-color: white;
    color: #fff;
    border-radius: 2rem;
    flex: none;
    align-items: stretch;
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 27px;
    display: block;
    position: static;
    inset: auto 0%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.btn-base--tron-hover2 {
    z-index: auto;
    border-radius: 48px;
    justify-content: center;
    align-items: center;
    width: 6.8125rem;
    height: 54px;
    width: 102% !important;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    inset: -2px 0% 0% -1.5px;
    overflow: hidden;
}