.NextHeaderWrap{
  
}
.NextHeaderWrap h1{
  color: #29292B;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 415;
    line-height: 40px;
    font-family: 'sequel_sans' !important;
}
.NextHeaderAutoBox {
    padding: 48px 25px 0 48px !important;
}
.NextHeaderAutoBox .RightSide {
    margin-bottom: -4px;
}
.NextHeaderWrap h2{
      color: transparent;
    text-align: center;
    background: linear-gradient(90deg, #1ab2ff 33.15%, #ffb258 62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 12px;
    letter-spacing: -1px;
    padding-right: 0;
    font-family: 'sequel_sans_semi_bold_disp' !important;
    font-size: 144px;
    font-style: normal;
    font-weight: 400;
    line-height: 124px;
    letter-spacing: -2.16px;
    padding-bottom: 27px;
}
.NextHeaderWrap p{
    text-align: center;
    font-family: 'sequel_sans_roman_head' !important;
    color: #757B8A;
    font-size: 18px;
    font-style: normal;
    font-weight: 360;
    line-height: 24px;
    letter-spacing: -.48px;
}
.NextHeaderWrapper{
    border-radius: 30px;
    background: #F7F8FA;
    padding: 48px;
    margin-top: 71px;
}
.industryNewHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.industryNewHead .LeftSide {
    width: 57%;
}
.industryNewHead .LeftSide span {
    color: #29292B;
    font-size: 32px;
     font-family: "sequel_sans";
    font-style: normal;
    font-weight: 415;
    line-height: 40px; 
}
.industryNewHead .LeftSide h4 {
    color: #29292B;
    font-family: "sequel_sans_semi_bold_disp";
    font-size: 72px;
    font-style: normal;
    font-weight: 420;
    line-height: 80px; 
    letter-spacing: -2.16px;
}
.industryNewHead .LeftSide p {
    font-family: 'sequel_sans_roman_head' !important;
    color: #29292B;
    font-size: 18px;
    font-style: normal;
    font-weight: 360;
    line-height: 24px; 
    letter-spacing: -0.48px;
}
.industryNewHead .RightSide {
    width: 44%;
    text-align: right;
}
.dubleButtonLeft {
    display: flex;
    margin-top: 32px;
}
.dubleButtonLeft .request-btn {
    margin-right: 30px;
    width: 168px;
}






.startup-header-wrapper {
  width: 100%;
  border-radius: 30px;
  background: rgb(255,178,88);
  background: linear-gradient(339deg, rgba(255,178,88,1) 22%, rgba(26,178,255,1) 89%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: -17px;
  max-width: 1200px;
  padding: 62px 46px 69.5px 45px;
  height: auto;
  position: relative;
}
/* .startup-header-wrapper::before {
  background: url('https://memate-website.s3.ap-southeast-2.amazonaws.com/assets/startups-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  content: "";
  width: 551px;
  height: 639px;
  right: 56px;
  bottom: 0;
   
} */
.starTups {
  position: absolute;
  width: 668px;
  height: 639px;
  right: -8px;
  bottom: 0;
}
h1.startup-top-heading {
  color: #fff;
  font-family: 'sequel_sans_semi_bold_disp' !important;
  font-size: 32px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 0px;
}

.startup-middle-heading {
  margin-top: 16px;
  color: #fff;
  font-family: "sequel_sans_heavy_disp", sans-serif !important;
  /* font-feature-settings: "liga" off, "clig" off; */
  /* font-family: Inter; */
  font-size: 88px;
  font-style: normal;
  font-weight: 100;
  line-height: 88px;
  letter-spacing: 0px;
}

.startup-heading-content {
  margin-top: 32px;
  max-width: 578px;
  width: 100%;
  color: #fff;
  font-family: "sequel_sans_roman_head" !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: 140%;
}

.startup-heading-button {
  margin-top: 24px;
  border-radius: 60px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  text-align: center;
  -webkit-text-strokeWidth: 0.2907530963420868;
  -webkit-text-stroke-color: #fff;
  font-family: "sequel_sans";
  padding: 13px 0px;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  width: 170px;
}

@media screen and (max-width: 767px) {
  .startup-page-parent {
    width: 100%;
    padding: 0 15px;
}
.startup-header-wrapper {
  padding: 32px 36px 43px 25px;
  max-width: 100%;
  margin-top: 0;
  text-align: left;

}
.startup-middle-heading {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
}
p.startup-middle-heading br {
  display: none;
}
.startup-bussiness-management-wrapper {
  padding-top: 15px;
}
.startup-heading-content {
  margin-top: 0;
}
.startup-header-wrapper br {
  display: none;
}
.startup-header-wrapper::before {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  opacity: 0;
  display: none;
}
.startup-heading-button {
  margin-top: 15px;
}
.startup-bussiness-management-heading {
  font-size: 28px;
}
.starTups{
  position: absolute;
  width: 430px;
  height: 583px;
  right: 15px;
  bottom: 0px;
  height: auto;
  width: 160px;
}
}