.tabsComparison{
    .tabsComparisonFlex{
        display: flex;
        justify-content: center;
        margin-top: 100px;
        @media screen and (max-width: 767px) {
            margin-top: 40px;
           }
        .tabsButton{
            border-radius: 30px;
            background: #FFF;
            width: 250px;
            height: 116px;
            flex-shrink: 0;
            border: 0;
            margin: 0 21px 21px;
            @media screen and (max-width: 767px) {
                width: auto;
                height: auto;
                padding: 10px;
                margin: 0 5px 21px;
               }
            &.tabsButtonActive{
                border-radius: 30px;
                background: rgb(255, 178, 88);
                background: linear-gradient(339deg, rgb(255, 178, 88) 22%, rgb(26, 178, 255) 89%);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                img{
                    filter: contrast(0) brightness(2);
                }
            }
        }
    }
    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 10px;
        padding: 0 27px;
        @media screen and (max-width: 767px) {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
           }
        tbody{
            tr{
          
                border-radius: 12px;
                background: #FFF;
                transition: background 0.3s;
                &:hover{
                    background-color: #f9f9f9;
                }
                td{
                    padding: 24px;
                    .toolTip{
                        display: flex;
                        align-items: center;
                        white-space: nowrap;
                        font-family: 'sequel_sans_roman_body' !important;
                        font-size: 18px;
                    }
                    &:first-child{
                        color: var(--Gray-900, #101828);
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 310;
                        line-height: 18px; 
                    }
                    color: var(--Gray-700, #344054);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 360;
                    line-height: 16px;
                    em{
                        font-style: normal;
                        color: var(--Gray-700, #344054);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 360;
                        line-height: 16px;
                        display: flex;
                        align-items: center;
                        svg{
                            width: 30px;
                        }
                        p{
                            padding-left: 10px;
                            font-family: 'sequel_sans_roman_head' !important;
                            line-height: 20px;
                            font-size: 16px;
                        }
                    }
                }
            
        }
        }
    }
}