.crmtool-manager-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .crmtool-image-wrapper {
    position: relative;
    margin-right: 10.5%;
  }
  
  .modal-contact {
    position: relative;
  }
  
  .menu-contact {
    position: absolute;
    top: 80px;
    left: 281px;
}