.requestsendModel {
    .p-dialog-header {
        h1 {
            color: #29292B;
            text-align: center;
            font-size: 42px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

    }


    .requestsendForm{
        margin-top: 24px;
        margin-bottom: 24px;
        label{
        color:#475467;
        font-size: 14px;
        font-style: normal;
        font-weight: 100;
        line-height: 22px; 
        letter-spacing: 0px;
        margin-bottom: 3px;
        font-family: 'sequel_sans_medium_body' !important;
        }
        .marginbotton{
            margin-bottom: 24px;
        }
        input{
            // color: #98A2B3;
            margin-top: 6px;
            font-size: 16px;
            font-style: normal;
            font-weight: 100;
            line-height: 24px; 
            letter-spacing: -0.5px;
            border-radius: var(--radius-xs, 4px);
            border: 1px solid var(--Border, #D0D5DD);
            background: #FFF;
            width: 100%;
            padding: 10px 14px;
            font-family: 'sequel_sans_roman_body' !important;
        }
        .input2{
            color: #1D2939;
            font-family: 'sequel_sans_roman_body' !important;
        }
    }