.sectionService8{
    border-radius: 30px;
    background: #F7F8FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 767px) {
        display: block;
       }
    .gridService8L{
        width: 50%;
        padding: 50px;
        @media screen and (max-width: 767px) {
            width: 100%;
            
           }
        h4{
            color: #29292B;
            font-size: 42px;
            font-style: normal;
            font-weight: 100;
            line-height: normal;
            letter-spacing: -1px;
            margin: 40px 0 20px;
            font-family: 'sequel_sans_semi_bold_disp' !important;
            @media screen and (max-width: 767px) {
                font-size: 30px;
                
                }
        }
        p{
            color: var(--Gray-600, #475467);
            font-size: 16px;
            font-style: normal;
            font-weight: 100;
            line-height: 130%; 
            padding-bottom: 12px;
            font-family: 'sequel_sans_roman_head' !important;
        }
    }
    .gridService8R{
        width: 50%;
        @media screen and (max-width: 767px) {
            width: 100%;
           }
        img{
            width: 100%;
        }
    }
}
.sectionService8Gradient{
    border-radius: 30px;
    background: #F7F8FA;
 
        width: 100%;
        border-radius: 30px;
        background: rgb(255,178,88);
        background: linear-gradient(339deg, rgba(255,178,88,1) 22%, rgba(26,178,255,1) 89%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 767px) {
        display: block;
       }
    .gridService8L{
        width: 50%;
        padding: 50px;
        @media screen and (max-width: 767px) {
            width: 100%;
            padding: 26px;
           }
        h4{
            color: #fff;
            font-size: 42px;
            font-style: normal;
            font-weight: 100;
            line-height: normal;
            letter-spacing: -1px;
            margin: 40px 0 20px;
            font-family: 'sequel_sans_semi_bold_disp' !important;
        }
        p{
            color: var(--Gray-600, #fff);
            font-size: 16px;
            font-style: normal;
            font-weight: 100;
            line-height: 130%; 
            padding-bottom: 12px;
            font-family: 'sequel_sans_roman_head' !important;
        }
        img{
            filter: contrast(0) brightness(2);
        }
    }
    .gridService8R{
        width: 50%;
        @media screen and (max-width: 767px) {
            width: 100%;
           }
        img{
            width: 100%;
        }
    }
}


.sectionvsCompaire{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -21px 0;
    span{
        border-radius: 96px;
        border: 0.968px solid #EFF0F6;
        background: #FFF;
        box-shadow: 0px 1.936px 51.61px 0px rgba(20, 20, 43, 0.08);
        display: flex;
        width: 64px;
        height: 64px;
        padding: 16px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        color: var(--Gray-800, #1D2939);
        font-size: 24px;
        font-style: normal;
        font-weight: 410;
        line-height: normal;
        
    }
}


.sectionMoreBenifit{
    margin: 100px 0 20px;
    @media screen and (max-width: 767px) {
     margin: 50px 0 20px;
    }
    h3{
        color: #29292B;
        font-size: 42px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        letter-spacing: -1px;
        margin-bottom: 40px;
        text-align: center;
        font-family: 'sequel_sans_semi_bold_disp' !important;
        @media screen and (max-width: 767px) {
        font-size: 30px;
        letter-spacing: 0px;
        margin-bottom: 28px;
        }
    }
    .gridList{
       ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        gap: 20px;
        @media screen and (max-width: 767px) {
            display: block;
           }
        .box{
            h4{
                color: #FFF;
                font-size: 28px;
                font-style: normal;
                font-weight: 100;
                line-height: normal;
                letter-spacing: -1px;
                font-family: 'sequel_sans' ;
            }
            h2{
                color: #FFF;
                font-size: 48px;
                font-style: normal;
                font-weight: 100;
                line-height: normal;
                font-family: 'sequel_sans_semi_bold_disp' !important;
            }
            p{
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 100;
                line-height: 130%;
                margin-top: 40px;
                font-family: 'sequel_sans_roman_head' !important;
            }
        }
        .List01{
     
                border-radius: 30px;
                background: #F7F8FA;
                width: 100%;
                border-radius: 30px;
                background: rgb(255, 178, 88);
                background: linear-gradient(339deg, rgb(255, 178, 88) 22%, rgb(26, 178, 255) 89%);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 45px;
            
        }
        .List02{
            background: url(https://memate-website.s3.ap-southeast-2.amazonaws.com/media/grid-compare-img01.jpeg);
            background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 30px;
                padding: 45px;
                @media screen and (max-width: 767px) {
                    height: 300px;
                    margin: 20px 0;
                   }
        }
        .List03{
            background: url(https://memate-website.s3.ap-southeast-2.amazonaws.com/media/grid-compare-img02.jpeg);
            background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 30px;
                padding: 45px;
                @media screen and (max-width: 767px) {
                    height: 300px;
                    margin: 20px 0;
                   }
        }
        .List04{
     
                border-radius: 30px;
                background: #F7F8FA;
                width: 100%;
                border-radius: 30px;
                border-radius: 30px;
                background: linear-gradient(146deg, #2B2B2D 5.4%, #777 108.55%);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 45px;
            
        }
       }
    }
}




.sectionService8grey{
    border-radius: 30px;
    background: #F7F8FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 767px) {
        display: block;
       }
    .gridService8L{
        width: 50%;
        padding: 9px 50px 38px;
        @media screen and (max-width: 767px) {
            width: 100%;
            padding: 10px;
           }
        h4{
            color: #29292B;
            font-size: 42px;
            font-style: normal;
            font-weight: 100;
            line-height: normal;
            letter-spacing: -1px;
            margin: 40px 0 20px;
            font-family: 'sequel_sans_semi_bold_disp' !important;
        }
        .request-btn{
            justify-content: flex-start;
        }
        p{
            color: #888E9E;
            font-size: 16px;
            font-style: normal;
            font-weight: 100;
            line-height: 130%; 
            padding-bottom: 12px;
            font-family: 'sequel_sans_roman_head' !important;
        }
        h6{
                color: #29292B;
                font-size: 16px;
                font-style: normal;
                font-weight: 365;
                line-height: 20px;
                letter-spacing: -0.38px;
                font-family: 'sequel_sans_roman_head' !important;
        }
        img{
            filter: contrast(0) brightness(2);
        }
    }
    .gridService8R{
        width: 50%;
        @media screen and (max-width: 767px) {
            width: 100%;
           }
        img{
            width: 100%;
        }
    }
}


.sectionCompareWrap{
    padding-top: 70px;
    margin-top: 72px;
    padding-bottom: 70px;
    border-radius: 40px;
    background: linear-gradient(0deg, #F7F9FC 0%, #F7F9FC 100%), #FFF;
    font-family: 'sequel_sans_bold_disp' !important;
    @media screen and (max-width: 767px) {
        padding-top: 40px;
       }
    .gradi{
        text-align: center;
        h3{
            color: #29292B;
            text-align: center;
            font-size: 42px;
            font-style: normal;
            font-weight: 100;
            line-height: normal;
            letter-spacing: -1px;
            font-family: 'sequel_sans_semi_bold_disp' !important;
        }
        p{
            color: #888E9E;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 100;
            line-height: 140%;
            width: 61%;
            margin: 10px auto 48px;
            font-family: 'sequel_sans_roman_head' !important;
            @media screen and (max-width: 767px) {
                width: 100%;
                padding: 0 20px;
               }
        }
        span{
        font-size:72px;
        white-space: nowrap;

    }
}
}


.sectionSwapWrap{
    margin-top: 88px;
    @media screen and (max-width: 767px) {
        margin-top: 40px;
       }
    h2{
        color: #29292B;
        text-align: center;
        font-size: 56px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        font-family: 'sequel_sans_semi_bold_disp' !important;
        @media screen and (max-width: 767px) {
            font-size: 30px;
            
            }
        span{
                padding-bottom: 50px;
                color: transparent;
                text-align: center;
                font-style: normal;
                margin-top: 25px;
                font-size: 56px;
                font-style: normal;
                font-weight: 100;
                letter-spacing: -1px;
                padding-right: 0px;
                font-family: sequel_sans_roman_head!important;
                background: linear-gradient(to right, #1ab2ff 33.15%, #ffb258 62%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                @media screen and (max-width: 767px) {
                    font-size: 30px;
                    
                    }
            
        }
    }

        .sectionSwapWrapBg{
            border-radius: 30px;
            background: linear-gradient(146deg, #2B2B2D 5.4%, #777 108.55%);
            padding: 72px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
           margin-top: 30px;
           @media screen and (max-width: 767px) {
            display: block;
            padding: 40px;
           }
            .sectionSwapM{
                span{
             
                        border-radius: 96px;
                        border: 0.968px solid #EFF0F6;
                        background: #FFF;
                        box-shadow: 0px 1.936px 51.61px 0px rgba(20, 20, 43, 0.08);
                        display: flex;
                        width: 64px;
                        height: 64px;
                        padding: 16px 24px;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 40px;
                        color: var(--Gray-800, #1D2939);
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 410;
                        line-height: 0;
                        position: relative;
                        top: 300px;
                        @media screen and (max-width: 767px) {
                            top: 0;
                            margin: 20px auto;
                            text-align: center;
                           }
                    
                }
            }
            @media screen and (max-width: 767px) {
               img{
                width: 100%;
               }
               
               }
        }
    
}

.sectionOurBenefit{
    margin: 88px 0;
    @media screen and (max-width: 767px) {
        margin: 40px 0;
       }
    .sectionBenefitHead{
        width: 60%;
        margin: 0 auto 30px;
        @media screen and (max-width: 767px) {
            width: 100%;
           }
      h2{
        color: #29292B;
        text-align: center;
        font-size: 42px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        font-family: 'sequel_sans_semi_bold_disp' !important;
      }
      p{
        color: #888E9E;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 100;
        line-height: 140%;
        padding-top: 20px;
        font-family: 'sequel_sans_roman_head' !important;
        
      }
    }
    .sectionBenefitFlex{
        border-radius: 30px;
        background: #F7F8FA;
        display: flex;
        padding: 56px 48px;
        justify-content: center;
        align-items: flex-start;
        gap: 42px;
        align-self: stretch;
        @media screen and (max-width: 767px) {
            padding: 0px 68px 0px 67px;
           
           }
               .boxBenifit {
                display: grid !important;
                grid-template-columns: auto auto auto auto;
                grid-gap: 10px;
                @media screen and (max-width: 767px) {
                     grid-template-columns: auto;
                }
                li{
                    width: 100% !important;
                    h4{
                        color: #29292B;
                        text-align: center;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 360;
                        line-height: 32px; 
                        letter-spacing: -0.72px;
                        font-family: "sequel_sans" !important;
                    }
                    p{
                        color: #888E9E;
                        text-align: center;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 360;
                        line-height: 24px;
                        letter-spacing: -0.48px;
                         font-family: 'sequel_sans_roman_head' !important;
                         padding: 0 15px;
                    }
                        }
                    }
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 767px) {
                display: block;
               
               }
           
            li{
                list-style: none;
                text-align: center;
                width: 22%;
                margin: 0 auto;
                @media screen and (max-width: 767px) {
                    width: 100%;
                    margin: 50px 0;
                   }
                .iconStyle{
                    flex-shrink: 0;
                    justify-content: center;
                    align-items: center;
                    width: 86.611px;
                    height: 86.611px;
                    margin: 0 auto;
                    display: flex;
                    border-radius: 14.435px;
                    // border: 1px solid rgba(0, 0, 0, 0.10);
                    background: linear-gradient(0deg, #9EC2A2 0%, #C0E3BD 100%), linear-gradient(135deg, #72EDF2 0%, #5151E5 100%), #FFF;
                }
                .iconStyle2{
                    border-radius: 14.435px;
                    // border: 1px solid rgba(0, 0, 0, 0.10);
                    background: linear-gradient(45deg, #FF9DE4 0%, #FFEAF6 100%), linear-gradient(0deg, #9B23EA 0%, #5F72BD 100%), #FFF;
                }
                .iconStyle3{
                    border-radius: 14.435px;
                    // border: 1px solid rgba(0, 0, 0, 0.10);
                    background: linear-gradient(135deg, #89F7FE 0%, #66A6FF 100%), #FFF;
                }
                .iconStyle4{
                 border-radius: 14.435px;
                    background: linear-gradient(135deg, #FFD3A5 0%, #FD6585 100%), #FFF;
                }
                .iconStyle5{
                  border-radius: 14.435px;;
                    background: linear-gradient(135deg, #FFF5C3 0%, #9452A5 100%);
                }
                .iconStyle6{
                  border-radius: 14.435px;
                  background: linear-gradient(270deg, #74EBD5 0%, #9FACE6 100%), linear-gradient(0deg, #84FAB0 0%, #ACCBEE 100%), linear-gradient(135deg, #F74FAC 0%, #FCB24F 100%), #FFF;
                }
                .iconStyle7{
               border-radius: 14.435px;
                background: linear-gradient(45deg, #FF7A00 0%, #FFD439 100%), #FFF;
                }
                .iconStyle8{
               border-radius: 14.435px;
               background: linear-gradient(45deg, #4A879A 0%, #C5EDF5 100%), #FFF;
                }
                h4{
                        color: #29292b;
                        text-align: center;
                        margin-top: 26px;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 100;
                        line-height: normal;
                        font-family: "sequel_sans" !important;
                }
            }
        }
    }
}


// .sectionFindOneApplication{
//     margin-bottom: 88px;
// }

