.industry-read-more-wrapper {
  padding-top: 60px;
  width: 100%;
}

.industry-read-more-content {
  max-width: 1200px;
  width: 100%;
}

.read-more-heading {
  color: #242122;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Inter;
  font-size: 43.888px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.416px;
}

.read-more-card-wrapper {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1200px;
  width: 100%;
}

.read-more-card-1 {
  width: 390px;
  height: 315px;
  flex-shrink: 0;
  border-radius: 30px;
  background-image: url("https://memate-website.s3.ap-southeast-2.amazonaws.com/assets/read-more-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.read-more-card-2 {
    width: 390px;
    height: 315px;
    flex-shrink: 0;
    border-radius: 30px;
    background-image: url("https://memate-website.s3.ap-southeast-2.amazonaws.com/assets/read-more-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .read-more-card-3 {
    width: 390px;
    height: 315px;
    flex-shrink: 0;
    border-radius: 30px;
    background-image: url("https://memate-website.s3.ap-southeast-2.amazonaws.com/assets/read-more-3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

.read-more-card-1-date {
  color: #888e9e;
  font-family: "sequel_sans_roman_head" !important;
  font-size: 16px;
  font-style: normal;
  margin-top: 20px;
  font-weight: 360;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.16px;
}

.read-more-card-1-desc {
  color: #29292b;
  margin-top: 16px;
  font-feature-settings: "liga" off, "clig" off;
  font-family: sequel_sans_roman_head!important;
  width: 390px;
  font-size: 21px;
  font-style: normal;
  font-weight: 420;
  line-height: 33px;
}

.read-more-card{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 767px) {
  .read-more-card-wrapper {
    margin-top: 15px;
    display: block;
}
.read-more-card {
  margin-bottom: 27px;
}
.read-more-card-1-date {
  margin-top: 0;
  letter-spacing: 0;
}
.read-more-heading {
  font-size: 26px;
  letter-spacing: 0;
}
.read-more-card-1-desc {
  margin-top: 0px;
  width: 100%;
  font-size: 20px;
  line-height: 26px;
}
.read-more-card-2, .read-more-card-3, .read-more-card-1 {
  width: 100%;
}
.industry-read-more-wrapper {
  padding-top: 15px;
}
}

.read-more-card-1m .img-container-3-img-1 {
    border-radius: 26px;
    margin-top: 0;
}

.img-container-3-img-1 {
    height: auto;
    margin-top: 40px;
}
.img-container-3-img-1 {
    height: 260px;
    min-height: 266px;
    object-fit: cover;
    width: 100%;
}