.smallheading{
    width: 988px;
    text-align: center;
    p{
       color: #757B8A;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: 140%;
    margin: 20px 0 8px;
    font-family: 'sequel_sans_roman_head' !important;
    }
}
.mainSection{
    padding-top: 32px;
}
h1.midheading{
   
    padding-top: 77px;
        color: #29292B;
        text-align: center;
        -webkit-text-strokeWidth: 1;
        -webkit-text-stroke-color: var(--ios-status-bar-status-bar-text-color, #000);
        font-family: sequel_sans_roman_head!important;
        font-size: 42px;
        font-style: normal;
        font-weight: 420;
        line-height: normal;
        letter-spacing: -1px;
       
    
}
.midheading{
   
    p{
    margin-top: 74px;
    color: #29292B;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 415;
    line-height: 60px;
    letter-spacing: -1.44px;
    font-family: 'sequel_sans_semi_bold_disp' !important;
    }
       
    
}

.databaseWrapper{
    width: 869px;
    margin: 0 auto;
    padding: 32px 32px;
.searchfilterBox {
    border-radius: 60px;
    border: 1px solid var(--Border, #D0D5DD);
    background: var(--Base-White, #FFF);
    width: 768px;
    margin: 0 auto;
     @media screen and (max-width: 767px) {
     width: 100%;
     }
   
    .searchIcon {
        display: flex;
        align-items: center;
        padding: 9px 16px;
    }
    input[type="text"]{
        padding: var(--spacing-2xl, 10px) var(--spacing-3xl, 20px);
        bottom: 0;
        width: 94%;
        box-shadow: none;
        border: 0;
        border-radius: 31px;
        color: var(--Gray-400, #98A2B3);
        font-size: 20px;
        font-style: normal;
        font-weight: 405;
        line-height: 24px; 
        &:focus-visible {
            outline: -webkit-focus-ring-color auto 0px;
        }
        &:focus{
            border: 0;
            box-shadow: none;
        }
    }
}
.alphabetbox{
    display: flex;
    align-items: center;
    padding: var(--spacing-4xl, 32px);
    justify-content: center;
    button{
        color: var(--Gray-600, #475467);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 100;
        line-height: 140%; 
        border: 0;
        padding: 6px;
        font-family: 'sequel_sans_roman_head' !important;
        @media screen and (max-width: 767px) {
          padding: 6px;
        }
        
    }
  
    .allButFilter{
        display: flex;
        align-items: center;
        button{
            background: transparent;
            padding: 10px;
        }
        .active{
            border-radius: var(--radius-xs, 4px);
            border: 1px solid var(--Gray-300, #D0D5DD);
            background: var(--Base-White, #FFF);
        }
    }
    .spanDisplay{
        margin-right: 12px;
        font-family: 'sequel_sans_light_disp' !important;
        font-size: 14px;
    }
}
}

.alphabetFilter{

    li{
        list-style: none;
        .alphabetlist{
            border-radius: 24px;
            border: 1px solid var(--Gray-200, #EAECF0);
            background: #FFF;
            box-shadow: none;
            margin-bottom: 32px !important;
                &.activeAccordion{
                    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
                    position: relative;
                    border: 1px solid transparent;
                    border-radius: 20px;
                    background: 
                      linear-gradient(to right, white, white), 
                      linear-gradient(to right, #24B3F8 , #FFB258); 
                    background-clip: padding-box, border-box;
                    background-origin: padding-box, border-box;
                }
                .itemDatawrap{
                    padding: var(--spacing-xl, 16px) var(--spacing-3xl, 24px);
                }
                }
            }
    .accInnercontent{
        padding: 0;
        .accInnerhead{
            border-top: 1px solid #EAECF0;
            border-bottom: 1px solid #EAECF0;
            padding: 16px 24px;
            p{
                color: var(--Gray-500, #667085);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px; 
                letter-spacing: 0.14px;
                a{
                    font-family: 'sequel_sansbook_head' !important;
                    color: var(--Gray-500, #667085);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 355;
                    line-height: 20px; 
                    letter-spacing: -0.38px;
                }
            } 
            ul{
                li{
                    display: inline-block;
                    border-radius: var(--radius-xs, 4px);
                    border: 1px solid var(--Gray-300, #D0D5DD);
                    background: var(--Base-White, #FFF);
                    padding: var(--spacing-xxs, 2px) var(--spacing-sm, 6px);
                    margin: 8px 10px 8px 0;
                    color: var(--Gray-700, #344054);
                    text-align: center;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 18px; 
                    font-family: 'inter_medium' !important;
                    i{
                       color: var(--Gray-700, #344054);
                        text-align: center;
                        font-family: Inter;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 18px;
                        font-family: 'sequel_sans' !important;
                    }
                }
            }
        }
        .accInneradd{
            padding: 16px 24px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            ul{
                li{
                    padding: 10px 0;
                    
                   a{
                    color: var(--Gray-600, #475467);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 100;
                    line-height: 24px; 
                    font-family: 'sequel_sans_medium_body' !important;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    svg{
                        margin-right: 10px;
                    }
                   }
                }
            }
        }
    }
}
.itemDatawrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
.itemDatalist{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .right{
        display: flex;
        align-items: center;
        white-space: nowrap;
        
        .roundBx{
                 border-radius: var(--radius-sm, 6px);
                 font-family: 'sequel_sans' !important;
            border: 1px solid var(--Gray-100, #F2F4F7);
            background: var(--Base-White, #FFF);
            padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px) var(--spacing-xxs, 2px) var(--spacing-sm, 6px);
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            padding: 5px 11px;
            margin: 0 8px;
            font-size: 14px;
            color: #344054;
            a{
            border-radius: var(--radius-sm, 6px);
            border: 1px solid var(--Gray-300, #D0D5DD);
            background: var(--Base-White, #FFF);
            padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px) var(--spacing-xxs, 2px) var(--spacing-sm, 6px);
            color: var(--Gray-700, #344054);
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; 
            }
        }
        .roundimg{
            a{
            border-radius: var(--radius-sm, 6px);
            border: 1px solid var(--Gray-100, #F2F4F7);
            background: var(--Base-White, #FFF);
            padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px) var(--spacing-xxs, 2px) var(--spacing-sm, 6px);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            margin: 0 8px;
            }
        }
    }
    .left{
        display: flex;
        align-items: center;
        color: var(--Gray-900, #101828);
        font-size: 18px;
        font-style: normal;
        font-weight: 100;
        line-height: 28px;
        font-family: 'sequel_sans_semi_bold_body' !important;
        b{
            display: inline-block;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--Gray-900, #101828);
            font-size: 18px;
            font-style: normal;
            font-weight: 370;
            line-height: 24px;
            letter-spacing: -0.48px;
            font-family: 'sequel_sans_semi_bold_disp' !important;
        }
        strong{
        display: inline-block;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
        img{
            border-radius: 0;
            border: 0;
            margin-right: 8px;
            width: 100px;
            height: 46px;
            object-fit: contain;     
        }
        
    }
    }
    }
.databasesinglehead{
    text-align: center;
.databasesLogo{
//     border-radius: 100%;
//     border: 2px solid #10182821;
    padding: 30px 0;
//     width: 112px;
// height: 112px;
// display: flex;
// justify-content: center;
// align-items: center;
margin: 0 auto 10px;
//  img{
//        height: 140px;
//        object-fit: contain;
//  }
}
h2{
    color: #29292B;
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 420;
    line-height: normal;
}
}
.detailsGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
    width: 1200px;
    margin: 72px 0;
    .itemDatalist{
        padding: 16px 24px;
        background: #fff;
        border-radius: 24px 24px 0 0;
    }
    .detailsCoActive{
        border-radius: 24px;
        border: 1px solid #EAECF0;
        background: #FBFCFD;

    }
    .detailsCol{
     width: 100%;
     h3{
        color: #29292B;
        font-size: 38px;
        font-style: normal;
        font-weight: 415;
        line-height: normal;
     }
     p{
     color: #888E9E;
    font-size: 18px;
    font-style: normal;
    font-weight: 360;
    line-height: 24px;
    letter-spacing: -0.48px;
    font-family: 'sequel_sans_roman_head' !important;
     @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
     }
     }
    }
}

.loadmoreSupplyersbut{
    color: var(--Gray-800, #1D2939);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 415;
    line-height: normal;
    border-radius: 60px;
    border: 1px solid var(--Gray-800, #1D2939);
    padding: 20px 49px;
    background: transparent;
    width: 196px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-decoration: none;
}

.detailsSupplyersbut {
    border-radius: 60px;
    border: 1px solid var(--Gray-800, #1D2939);
    padding: 20px 49px;
    background: #29292B;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 129.231px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 415;
    line-height: normal;
    white-space: nowrap;
    text-decoration: none;
}

.linkstyleDisable{
    color: var(--Gray-500, #667085);
    font-size: 14px;
    font-style: normal;
    font-weight: 310;
    line-height: 20px; 
    text-decoration: none;
}



.supplierAddCompany{
    margin: 0 auto;


h1{
    color: #29292B;
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin: 40px 0;
    font-family: 'sequel_sans_semi_bold_disp' !important;
}


.supplierAddform{
    width: 768px;
    margin: 0 auto;
    .flexWrapGrid{
        display: flex;
        justify-content:space-between;
        .phoneNumberData{
            input{
                border: 0px !important;
            }
        }
        .marginbotton{
            display: block;
            margin-bottom: 22px;
            width: 100%;
            margin-left: 8px;
            margin-right: 8px;
            label{
                display: block;
                width: 100%;
                color: var(--Gray-600, #475467);
                font-size: 14px;
                font-style: normal;
                font-weight: 100;
                line-height: 22px; 
                letter-spacing: 0.14px;
                font-family: 'sequel_sans_medium_body' !important;
            }
            input {
                background: #fff;
                border: 1px solid #d0d5dd;
                border: 1px solid var(--Border,#d0d5dd);
                border-radius: 4px;
                border-radius: var(--radius-xs,4px);
                font-size: 16px;
                font-style: normal;
                font-weight: 100;
                letter-spacing: -.08px;
                line-height: 24px;
                padding: 10px 14px;
                width: 100%;
                font-family: 'sequel_sans_roman_body' !important;
            }
        }
    }
    .darkbuttonStyle{
        margin-top: 20px;
    border-radius: 60px;
    background: #29292B;
    height: 52px;
    // width: 168px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 40px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    padding: 0 39px;
    text-decoration: none;
    
    }
}
}









@media screen and (max-width: 767px) {
    .supplierAddCompany{
        h2{
            font-size: 27px;
        }
        
        
        .supplierAddform{
            width: auto;
            margin: 0 auto;
            .flexWrapGrid{
                display: block;
                justify-content:space-between;
                .marginbotton{
                    display: block;
                    margin-bottom: 22px;
                    width: 100%;
                    margin-left: 0px;
            margin-right: 0px;

                }
            }
        }
        }

        .databasesinglehead{
            text-align: center;
            padding: 0 20px;
        .databasesLogo{
        margin: 60px auto 10px;
        }
        h2{
            font-size: 30px;
        }
        }
        .detailsGrid{
            grid-template-columns: 100%;
            width: 100%;
            margin: 37px auto;
            .itemDatalist{
                padding: 16px 24px;
            }
            .detailsCol{
             width: 100%;
             h3{
                font-size: 28px;
             }
            }
        }







    .supdatabaseHead{
        h1{
            font-size: 23px;
            text-align: center;
        }
    
    }
    .mainSection{
        padding: 0 15px;
    }
    .midheading {
        padding-top:0px;
        font-size:26px;
        letter-spacing: 0;
        text-align: center;
    }
    .midheading  p{
        margin: 15px 0px;
        padding: 0px;
        font-size: 24px;
        @media screen and (max-width: 767px) {
         letter-spacing: 0;
        }
    }
    .smallheading {
        width: 100%;
    }
    .smallheading p {
        font-size: 16px;
        margin: 5px 0 0;
    }
    .darkButtonstyle a{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .databaseWrapper {
        width: 100%;
        margin: 0 auto;
        padding: 15px;
    }
    .databaseWrapper .alphabetbox{
        display: inline-block;
        padding:10px 0px;
  }
  .itemDatalist .left, .itemDatalist .right{
    display: block;
    width:100%;
    margin-bottom: 10px;
  }
  .databaseWrapper .alphabetFilter .alphabetlist{
    margin-bottom: 15px !important;
  } 
  .itemDatawrap .itemDatalist {
    display: inline;
    width: 100%;
} 
.alphabetFilter .alphabetlist .itemDatawrap {
 padding: 8px !important;
}
.databaseWrapper .alphabetbox .allButFilter {
    display: inline;
}
.databaseWrapper .searchfilterBox input[type=text] {
 padding: 8px;
        font-size: 22px;
}
.itemDatawrap {
    margin:0;
}
.alphabetFilter .accInnercontent .accInneradd {
    padding: 16px 24px;
    display: block;
}
}
@media screen and (max-width: 992px) and (min-width: 768px){
    .databaseWrapper {
        width: 100%;
        padding: 30px 20px;
    }
    .databaseWrapper .alphabetbox button {
        font-size: 13px;
        padding: 5px;
    }
    .midheading {
        padding-top: 15px;
        font-size: 36px;
    }
}

@media screen and (max-width: 1180px) and (min-width: 1024px){
   .databaseWrapper {
        width: 100%;
        padding: 30px 20px;
    }
    .midheading {
        padding-top:50px;
        font-size: 36px;
    }
    .mainSection {
        padding-top: 0;
    }
    .main-section .main-heading {
        font-size: 160px;
        line-height: 176px;
    }
    .midheading {
        padding-top:30px;
    }
}




.supplierRequestEdit{
    padding: 24px 0;
    textarea{
        color: var(--Gray-400, #475467);
        font-size: 16px;
        font-style: normal;
        font-weight: 310;
        line-height: 24px; 
        letter-spacing: -0.08px;
    }
  
}