.featured-section {
    margin: 0px 0 98px;
}
.featured-text p {
    color: #29292B;
    text-align: center;
    font-family: "Sequel Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
    line-height: 40px;
   font-family: 'sequel_sans' !important;
}

.brand-names {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 73px;
    flex-wrap: wrap;
    margin-top: 24px;
}
@media screen and (max-width: 767px) {
    .featured-section {
        margin: 30px 0 0;
    }
    .mobile-logo img {
        width: 88px;
    }
    .brand-names {
        gap: 15px;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .brand-names svg:first-child{
        /* gap: 50px;
        margin-top: 15px; */
        width: 160px;
    }
}
@media screen and (max-width: 992px) and (min-width: 768px){
    .brand-names {
        gap: 50px;
        margin-top: 15px;
    }
    .featured-section {
        margin: 30px 0 0;
    }

}