.sitemapHEad{
 
        height: auto;
        max-width: 1200px;
        position: relative;
        width: 100%;
        background: linear-gradient(339deg, rgb(255, 178, 88) 22%, rgb(26, 178, 255) 89%) 50% center / contain no-repeat;
        background-position: 50% center;
        border-radius: 30px;
        padding: 60px;
        margin: 0 auto;
        @media screen and (max-width: 767px) {
            padding: 30px 20px;
            max-width: 90%;
        }
        h1{
                color: #fff;
                font-size: 59px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-align: left;
                @media screen and (max-width: 767px) {
                    font-size: 30px;
                }
            
        }
        
    
}


.sitemapPageList{
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 15px;
    li{
            list-style: none;
            border-top: 1px solid #e5e7eb;
            // border-bottom: 1px solid #e5e7eb;
            padding: 34px 0;
        
        h3{
            color: #29292B;
            font-size: 28px;
            font-style: normal;
            font-weight: 420;
            line-height: normal;
            margin-bottom: 20px;
        }
        a{
            color: #7a7a7a;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-right: 20px;
            &:hover{
                color: #000; 
            }
        }
    }
    .sitemapGrid{
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            @media screen and (max-width: 767px) {
                grid-template-columns: auto ;
            }
        .sitemapGridItem{
            @media screen and (max-width: 767px) {
                margin: 20px 0;
            }
            h4{
                color: #29292B;
                font-size: 18px;
                font-style: normal;
                font-weight: 420;
                line-height: normal;
                margin-bottom: 20px; 
            }
            a{
                display: block;
                padding: 10px 0;
            }

        }
    }
}